$colorBlue: #4f77ff;
$colorPurple: #886cff;
$colorGreen: #34c635;
$colorRed: #ef3737;
$colorGrayText: #7b88a8;
$colorGrayText2: #888682;
$colorBlackText: #2d3958;
$colorBlackText2: #120f1f;
$colorGrayLine: #e7e5ea;
$colorGrayLine2: rgba(97, 119, 152, 0.2);
$colorGrayBox: #f8fafc;
$colorPinkBox: #f7f5f1;
$colorGreenUnion: #61dcdf;
$colorYellow: #ffc623;